<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="main" style="width: 600px;height:400px;"></div>
</body>
<script type="text/javascript" src="https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/jquery/jquery-1.10.2.min_65682a2.js"></script>
<script src="echarts.min.js"></script>
<script>
    var myChart = echarts.init(document.getElementById('main'));
    // 基于准备好的dom，初始化echarts实例
    $.ajax({
        url:'http://127.0.0.1:8000/test/',
        type:'get',
        dataType:'json',
        success:(json)=>{
            var option = {
                title: {
                    text: 'ECharts 入门示例'
                },
                tooltip: {},
                legend: {
                    data:['销量']
                },
                xAxis: {
                    data: json.products
                },
                yAxis: {},
                series: [{
                    name: '销量',
                    type: 'bar',
                    data: json.data
                }]
            };
            myChart.setOption(option);
        }
    })
    

    // 指定图表的配置项和数据
    

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</html>